<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
    <xsi:schemaLocation>http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd</xsi:schemaLocation>
    <variable name="layout" value="[${date}]  [${uppercase:${level}}]  (${stacktrace}):  ${newline}  ${message:exceptionSeparator=\r\n    :withException=true}"/>
    <targets>
        <target name="log2file" xsi:type="File" fileName="${gdc:logdir:whenEmpty=${baseDir}}/Logs/${date:format=yyyyMMdd}.log"
                layout="${layout}" />
        <target name="log2console" xsi:type="Console"
                layout="${layout}" />
        <target name="log2debugger" xsi:type="Debugger"
                layout="${layout}" />
    </targets>
    <rules>
        <!-- Debug, Info, Warn, Error, Fatal -->
        <logger name="*" minlevel="Debug" writeTo="log2file" />
        <logger name="*" minlevel="Debug" writeTo="log2console" />
        <logger name="*" minlevel="Debug" writeTo="log2debugger" />
    </rules>
</nlog>